<div class="col-lg-10 offset-1 space">
  <div class="row">
    <h2>注文情報確認</h2>
  </div>

  <%= form_with(model: @order, local: true) do |f| %>

  <div class="d-none d-lg-block space">
    <div class="row">
      <div class="col-lg-2"><h2>商品名</h2></div>
      <div class="col-lg-2"><h2>単価</h2></div>
      <div class="col-lg-2"><h2>数量</h2></div>
      <div class="col-lg-2"><h2>小計</h2></div>
    </div>
  </div>

  <% sum_all = 0 %>
  <% @line_items.each do |cart_item| %>
  <div class="row space-sm">
    <div class="col-lg-2">
      <%= link_to product_path(cart_item.product) do %>
      <%= cart_item.product.name %>
      <% end %>
    </div>
    <div class="col-lg-2">
      <%= cart_item.product.price %>
    </div>
    <div class="col-lg-2">
      <%= cart_item.quantity %>
    </div>
    <div class="col-lg-2">
      <%= sum_product = cart_item.product.price.to_i * cart_item.quantity %>円
      <% sum_all += sum_product %>
    </div>
  </div>
  <% end %>

  <div class="row space">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-3">
          <strong>送料</strong>
        </div>
        <div class="col-lg-3">
          <%= @order.deliver_fee %>円
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <strong>商品合計</strong>
        </div>
        <div class="col-lg-3">
          <%= sum_all.to_i %>円
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <strong>ご請求額</strong>
        </div>
        <div class="col-lg-3">
          <% billling_amount = sum_all + @order.deliver_fee.to_i %>
          <%= billling_amount.to_i %>円
        </div>
      </div>
    </div>
  </div>
  
  <div class="row space-sm">
    <div class="col-lg-2">
      <h2>支払方法</h2>
    </div>
    <div class="col-lg-4">
      <%= how_to_pay(@order.how_to_pay) %>
    </div>
  </div>

  <div class="row space-sm">
    <div class="col-lg-2">
      <h2>お届け先</h2>
    </div>
    <div class="col-lg-4">
      <%= @order.send_to_address %>
      <%= @order.addressee %>
    </div>
  </div>

  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.hidden_field :send_to_address, :value => "#{@order.send_to_address}" %>
  <%= f.hidden_field :addressee, :value => "#{@order.addressee}" %>
</div>

<div class="row space">
  <div class="col-lg-2 offset-lg-5">
    <%= f.submit "購入を確定する", class: "btn btn-danger btn-lg" %>
  </div>
</div>


<% end %>
</div>
