<div class="col-lg-10 offset-1 space">

  <div class="row">
    <div class="col-lg-4">
      <h2>注文情報入力</h2>
    </div>
  </div>

  <%= form_with(model: @order, local: true, url: {action: 'confirm'}) do |f| %>

  <!-- 支払方法 -->
  <div class="row space">
    <h2><strong><%= f.label :支払方法 %></strong></h2>
  </div>

  <div class="row">
    <div class="col-lg-4 btn-group" data-toggle="buttons">
      <label class="btn btn-outline-secondary active" style="width:50%">
        <%= f.radio_button :how_to_pay, true, {checked: true} %> クレジットカード
      </label>
      <label class="btn btn-outline-secondary" style="width:50%">
        <%= f.radio_button :how_to_pay, false, {} %> 銀行振込
      </label>
    </div>
  </div>

  <div class="row space">
    <h2><strong><%= f.label :お届け先 %></strong></h2>
  </div>
  
  <div class="row space-sm">
    <p><label><%= f.radio_button :add, 1, checked: true, checked: "checked" %>ご自身の住所</label></p>
  </div>
  
  <div class="row">
    <div class="col-lg-6">
      <div class="row">
        <div class="col-lg-2">
          <strong>住所</strong>
        </div>
        <div class="col-lg-8">
          <%= @user.address %>
        </div>
      </div>
    
      <div class="row">
        <div class="col-lg-2">
          <strong>名前</strong>
        </div>
        <div class="col-lg-8">
          <%= @user.name %>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row space-sm mt-4">
    <p><label><%= f.radio_button :add, 2 %>新しいお届け先</label></p>
  </div>
  
  <div class="row">
    <div class="col-lg-6">
      <%= f.fields_for :new_add do |na| %>
      
      <div class="row">
        <div class="col-lg-2">
          <strong>住所</strong>
        </div>
        <div class="col-lg-8">
          <%= na.text_field :address, class: 'form-control' %>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-2">
          <strong>名前</strong>
        </div>
        <div class="col-lg-8">
          <%= na.text_field :addressee, class: 'form-control' %>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <div class="row space">
    <div class="col-lg-2 offset-lg-7">
      <%= f.submit "確認画面へ進む", class: "btn btn-danger"%>
    </div>
  </div>

  <% end %>
</div>