<div class="col-lg-10 offset-1 space">
  <div class="row">
    <h2>注文履歴詳細</h2>
  </div>

  <div class="row">
    <div class="col-lg-7">
      <div class="row space">
        <h3>注文情報</h3>
      </div>
      <div class="row">
        <div class="container">
          <div class="row space-sm">
            <div class="col-lg-3">
              <strong>注文日</strong>
            </div>
            <div class="col-lg-9">
              <%= @order.created_at %>
            </div>
          </div>
          <div class="row space-sm">
            <div class="col-lg-3">
              <strong>配送先</strong>
            </div>
            <div class="col-lg-9">
              <%= @order.send_to_address %>
            </div>
          </div>
          <div class="row space-sm">
            <div class="col-lg-3">
              <strong>支払方法</strong>
            </div>
            <div class="col-lg-9">
              <%= how_to_pay(@order.how_to_pay) %>
            </div>
          </div>
          <div class="row space-sm">
            <div class="col-lg-3">
              <strong>状況</strong>
            </div>
            <div class="col-lg-9">
              ステータス
            </div>
          </div>
        </div>
      </div>

      <div class="row space">
        <h3>注文内容</h3>
      </div>
      <div class="d-none d-lg-block">
        <div class="row">
          <div class="col-lg-4">
            <strong>商品</strong>
          </div>
          <div class="col-lg-3">
            <strong>単価（税込）</strong>
          </div>
          <div class="col-lg-2">
            <strong>個数</strong>
          </div>
          <div class="col-lg-2">
            <strong>小計</strong>
          </div>
        </div>
      </div>
      <% sum_all = 0 %>
      <% @order.order_items.each do |order_item| %>
      <div class="row space-sm">
        <div class="col-lg-4">
          <%= order_item.product.name %>
        </div>
        <div class="col-lg-3">
          <%= order_item.order_price %>
        </div>
        <div class="col-lg-2">
          <%= order_item.quantity %>個
        </div>
        <div class="col-lg-2">
          <%= sub_total = order_item.order_price.to_i * order_item.quantity %>円
          <% sum_all += sub_total %>
        </div>
      </div>
      <% end %>
    </div>

    <div class="col-lg-5">
      <div class="row space">
        <h3>請求情報</h3>
      </div>
      <div class="row">
        <div class="container">
          <div class="row space-sm">
            <div class="col-lg-6">
              <strong>商品合計</strong>
            </div>
            <div class="col-6">
              <%= sum_all %>円
            </div>
          </div>
          <div class="row space-sm">
            <div class="col-lg-6">
              <strong>配送料</strong>
            </div>
            <div class="col-lg-6">
              <%= @order.deliver_fee %>円
            </div>
          </div>
          <div class="row space-sm">
            <div class="col-lg-6">
              <strong>ご請求額</strong>
            </div>
            <div class="col-lg-6">
              <%= sum_all + @order.deliver_fee.to_i %>円
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>