<div class="col-lg-10 offset-lg-1 space">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4">
        <h2>
          <span style="display: inline-block;">ショッピング</span>
          <span style="display: inline-block;">カート</span>
        </h2>
      </div>
    </div>

    <!-- カートの商品一覧 -->
<table class="table table-bordered">
  <thead>
    <tr>
      <th>商品名</th>
      <th>数量</th>
      <th></th>
  </thead>
  <tbody>
    <% @cart_items.each do |cart_item| %>
    <tr>
      <td>
        <%= link_to product_path(cart_item.product) do %>
        <%= cart_item.product.name %>
        <% end %>
      </td>
      <td>
        <%= form_with model: cart_item, local: true do |f| %>
        <%= f.number_field :quantity, value: cart_item.quantity, min:1, max:99  %>
        <%= f.submit "変更", class: "btn btn-primary" %>
        <% end %>
      </td>
      <td>
        <%= link_to "削除する", cart_item_path(cart_item), method: :delete, class: "btn btn-danger"%>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '商品一覧へ戻る', products_path %>