<h1>商品一覧</h1>
<div class="row">
  <% @products.each do |product| %>
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <% if product.image? %>
            <%= image_tag product.image.to_s  %>
          <% else %>
            <image src="/assets/default.png" %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= product.name %></h5>
            <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
            <p class="card-text">説明：<%= product.detail %></p>
            <p class="card-text">価格：<%= product.price %>円</p>
            <p class="card-text">種類：<%= product.category %></p>
            <p class="card-text">在庫：<%= product.stock %></p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <!-- <button type="button" class="btn btn-sm btn-outline-secondary">View</button> -->
                <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to '詳細', product %></button>
                <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to '編集', edit_product_path(product) %></button>
                <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to '削除', product, method: :delete, data: { confirm: '本当に削除しますか?' } %></button>
              </div>
            </div>
          </div>
        </div>
      </div>
  <% end %>
</div>
<%= paginate @products %>



<br>

<%= link_to '新規登録', new_product_path %>
