<%= render 'search_form', url: products_path, q: @q_product %>
<h1>カテゴリ</h1>
<% @parent_categories.each do |parent| %>
<%= parent.name %>/
<% end %>
<h1>商品一覧</h1>
<% if @products.any? %>
<table class="w-25 p-3ra">
  <tr>
    <th><%= sort_link(@q_product, :name, "商品名順") %></th>
    <th><%= sort_link(@q_product, :price, "価格順") %></th>
  </tr>
</table>
<div class="row">
  <% @products.each do |product| %>
    <div class="col-md-3">
        <div class="card mb-3 shadow-sm">
          <% if product.image? %>
            <%= image_tag product.image.to_s  %>
          <% else %>
            <image src="/assets/default.png" %>
          <% end %>
          <div class="card-body">
            <% if user_signed_in? %>
            <h5 class="card-title"><%= product.name %><%= render 'products/favorite_area', product: product %></h5>
            <% else %>
            <h5 class="card-title"><%= product.name %></h5>
            <% end %>
            <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
            <p class="card-text">説明：<%= product.detail %></p>
            <p class="card-text">価格：<%= product.price %>円</p>
            <p class="card-text">在庫：<%= product.stock %></p>
            
            <div class="d-flex justify-content-between align-items-center my-3">
              <div class="btn-group">
                <!-- <button type="button" class="btn btn-sm btn-outline-secondary">View</button> -->
                <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to '詳細', product %></button>
              </div>
            </div>
              <% @cart = product.cart_items.build %>
              <%= form_with(model: [product, @cart], local: true, url: {controller: 'cart_items', action: 'create'}) do |f| %>
              <%= f.label :個数 %>
              <%= f.number_field :quantity, value: 1 ,min:1, max:99 %>
              <%= f.hidden_field :product_id, value: product.id  %>
              <%= f.submit "カートに入れる", class: "btn btn-danger float-right" %>
              <% end %>
          </div>
        </div>
      </div>
  <% end %>
</div>
<% else %>
  <h2><%= '検索結果がありません。' %></h2>
<% end %>
<%= paginate @products %>
<br>
<%= link_to '新規登録', new_product_path %>
