<h1>商品一覧</h1>
<table>
  <thead>
    <tr>
      <th>商品名</th>
      <th>商品説明</th>
      <th>価格</th>
      <th>カテゴリ</th>
      <th>画像</th>
      <th>在庫数</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.detail %></td>
        <td><%= product.price %></td>
        <td><%= product.category %></td>
        <td><%= image_tag product.image.to_s %></td>
        <td><%= product.stock %></td>
        <td><%= link_to '詳細', product %></td>
        <td><%= link_to '編集', edit_product_path(product) %></td>
        <td><%= link_to '削除', product, method: :delete, data: { confirm: '本当に削除しますか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規登録', new_product_path %>
