<p>
  
  <% if @product.image? %>
    <%= image_tag @product.image.to_s %>
  <% else %>
    <image src="/assets/default.png" %>
  <% end %>
</p>

<h5>
  <strong>商品名:</strong>
  <%= @product.name %>
</h5>

<p>
  <strong>商品説明:</strong>
  <%= @product.detail %>
</p>

<p>
  <strong>価格:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>カテゴリ:</strong>
  <%= @product.category %>
</p>

<p>
  <strong>在庫数:</strong>
  <%= @product.stock %>
</p>

<%= link_to '編集', edit_product_path(@product) %> |
<%= link_to '商品一覧へ戻る', products_path %>
