<h1>レビュー</h1>
<div class="table-responsive-sm">
<table class="table table-striped table-sm">
  <thead>
    <tr>
      <th>評価</th>
      <th>タイトル</th>
      <th>コメント</th>
      <th>投稿者</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @product.reviews.each do |review| %>
      <tr>
        <td>
          <%= review.rate %>点
         <!--星評価-->
         <div id="star-rate-<%= review.id %>"></div>
          <script>
          $('#star-rate-<%= review.id %>').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: <%= review.rate %>,
          });
          </script>  
        <!--/星評価-->
        </td>
        <td><%= review.name %></td>
        <td><%= review.comment %></td>
        <td><%= User.find_by(id: review.user_id).name %></td>
        <td><%= link_to '詳細', product_review_path(@product,review) %></td>
        <td><%= link_to '編集', edit_product_review_path(@product,review) %></td>
        <td><%= link_to '削除', product_review_path(@product,review), method: :delete, data: { confirm: '本葉に削除しますか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<%= link_to 'レビューを投稿', new_product_review_path(@product) %>
