<p>
 <!--星評価-->
 <div id="star-rate-<%= @review.id %>"></div>
  <script>
  $('#star-rate-<%= @review.id %>').raty({
    size: 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    half: true,
    readOnly: true,
    score: <%= @review.rate %>,
  });
  </script>  
<!--/星評価-->
</p>

<p>
  <strong>タイトル:</strong>
  <%= @review.name %>
</p>

<p>
  <strong>コメント:</strong>
  <%= @review.comment %>
</p>

<p>
  <strong>投稿者:</strong>
  <%= User.find_by(id: @review.user_id).name %>
</p>

<%= link_to '編集', edit_product_review_path(@review) %> |
<%= link_to '戻る', product_path %>
